<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <title>snake</title>
    <script defer="defer" src="./static/js/snake.js"></script>
    <link href="./static/css/snake.css" rel="stylesheet" />
  </head>
  <body>
    <noscript>
        <strong>We're sorry but snake doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
    </noscript>
    <div id="app" style="float: left; margin-left: 27vw; width: 80vh; height: 80vh" >
    </div>
  </body>
</html>
